@charset "UTF-8";
/* カラー============================== */ /* フォント============================== */
/* フォントサイズ============================== */
html {
  font-size: 62.5%;
  /*   @media screen and (max-width:$tab){
     font-size: 50%;
   } */
}

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*, :after, :before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

:after, :before {
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

hr {
  overflow: visible;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 80%;
}

[hidden], template {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active, a:hover {
  outline-width: 0;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
}

b, strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

input {
  border-radius: 0;
}

[role=button], [type=button], [type=reset], [type=submit], button {
  cursor: pointer;
}

[disabled] {
  cursor: default;
}

[type=number] {
  width: auto;
}

[type=search] {
  -webkit-appearance: textfield;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button, input, optgroup, select, textarea {
  font: inherit;
}

optgroup {
  font-weight: 700;
}

button {
  overflow: visible;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

img {
  border-style: none;
  vertical-align: bottom;
}

progress {
  vertical-align: baseline;
}

svg:not(:root) {
  overflow: hidden;
}

audio, canvas, progress, video {
  display: inline-block;
}

@media screen {
  [hidden~=screen] {
    display: inherit;
  }
  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}
[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

::-moz-selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  overflow-y: scroll;
}

button {
  outline: none;
}

body {
  font-family: "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", sans-serif;
  color: #000000;
  font-feature-settings: "palt";
  background-color: #fff;
  letter-spacing: 0.05em;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

/* ここから共通部分============================== */
/* h1タイトル部分 */
h1 {
  font-size: 4.6rem;
  color: #fff;
  letter-spacing: 0.1em;
  line-height: 1.5;
}

/* h2タイトル部分 */
h2 {
  font-size: 4.5rem;
  color: #000000;
  letter-spacing: 0.1em;
  font-weight: 400;
}
@media (max-width: 600px) {
  h2 {
    font-size: 3.2rem;
  }
}

h3 {
  font-size: 3.5rem;
  color: #000000;
  letter-spacing: 0.1em;
  font-weight: 400;
}
@media (max-width: 600px) {
  h3 {
    font-size: 3rem;
  }
}

p,
button,
a {
  font-style: normal;
  letter-spacing: 0.05em;
  line-height: 1.8;
  font-size: 2rem;
}
@media screen and (max-width: 600px) {
  p,
button,
a {
    font-size: 1.6rem;
  }
}

.innerWrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.br__sp {
  display: none;
}
@media screen and (max-width: 450px) {
  .br__sp {
    display: block;
  }
}

@media screen and (max-width: 450px) {
  .br__pc {
    display: none;
  }
}

.btn {
  display: inline-block;
  margin-top: 64px;
  font-size: 2rem;
  padding: 20px 60px;
  border: 1px solid #000000;
  color: #000000;
  position: relative;
}
@media screen and (max-width: 600px) {
  .btn {
    font-size: 1.6rem;
    padding: 20px 3br0px;
  }
}
.btn::after {
  position: absolute;
  top: 50%;
  right: -30px;
  content: "";
  width: 60px;
  height: 1px;
  background-color: #000000;
}
.btn:hover::after {
  transform: translate(15px);
  transition: transform 0.3s;
}

/* ここまで共通部分============================== */
footer {
  background: url(/img/footer-bg.png) center center/cover no-repeat;
  text-align: center;
  padding: 32px 0 0;
}

.footer__logoBox img {
  max-width: 142px;
}
.footer__logoBox p {
  font-size: 50px;
}
.footer__logoBox a {
  margin-top: 25px;
  padding: 15px 64px;
  font-size: 2.4rem;
  color: #000000;
  background: #fff;
  display: inline-block;
  border-radius: 54px;
}
.footer__logoBox a span img {
  width: 28px;
  transform: translate(10px, -11px);
}

.footer__instaBox {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer__instaBox img {
  width: 20px;
}
.footer__instaBox p {
  font-size: 2.2rem;
}

.footer__btnBox {
  display: flex;
  justify-content: center;
  gap: 60px;
}
@media screen and (max-width: 1000px) {
  .footer__btnBox {
    flex-direction: column;
    align-items: center;
    gap: unset;
  }
}

.footer__btn {
  width: 364px;
}
@media screen and (max-width: 600px) {
  .footer__btn {
    width: 80%;
    text-align: center;
  }
}
.footer__btn span {
  margin-left: 30px;
  display: inline-block;
  width: 25px;
}
@media screen and (max-width: 600px) {
  .footer__btn span {
    margin-left: 15px;
  }
}

.footer__copyright {
  background-color: #000000;
  color: #fff;
  text-align: center;
  font-size: 15px;
  line-height: 3;
  margin-top: 32px;
}

.footer__iconFurusato {
  transform: translate(0px, -6px);
}

.fv {
  background: url(/img/main-pc.jpg) center center/cover no-repeat fixed;
  width: 100%;
  height: 814px;
  position: relative;
  color: #fff;
}
@media screen and (max-width: 600px) {
  .fv {
    background: url(/img/main-sp.jpg) center center/cover no-repeat fixed;
  }
}

.fv__header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 35px;
  margin-right: 40px;
}
@media screen and (max-width: 1000px) {
  .fv__header ul {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .fv__header a {
    display: none;
  }
}

.fv__nav {
  font-size: 16px;
  padding-top: 35px;
}
.fv__nav ul {
  display: flex;
  gap: 35px;
}

.fv__navItem a {
  color: #fff;
  font-size: 20px;
}

.fv__instaIcon {
  width: 30px;
}

.fv__logoBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media screen and (max-width: 600px) {
  .fv__logoBox {
    max-width: 380px;
  }
}

.fv__logo {
  width: 225px;
}
@media screen and (max-width: 600px) {
  .fv__logo {
    width: 184px;
  }
}

.fv__h1 {
  margin-top: 70px;
}
@media screen and (max-width: 600px) {
  .fv__h1 {
    font-size: 34px;
  }
}

.fv__scroll {
  transform: rotate(90deg);
  position: absolute;
  bottom: 180px;
  right: 10%;
}
@media screen and (max-width: 600px) {
  .fv__scroll {
    bottom: 120px;
  }
}
.fv__scroll a {
  font-family: "Playfair Display", serif;
  color: #fff;
  display: block;
  position: relative;
  font-size: 3rem;
}
@media screen and (max-width: 600px) {
  .fv__scroll a {
    font-size: 1.4rem;
  }
}
.fv__scroll a::after {
  position: absolute;
  top: 50%;
  right: -100px;
  background-color: #fff;
  content: "";
  width: 110px;
  height: 1px;
}
@media screen and (max-width: 600px) {
  .fv__scroll a::after {
    width: 90px;
  }
}

.fv__humTarget {
  display: none;
  width: 40px;
}
@media screen and (max-width: 1000px) {
  .fv__humTarget {
    display: block;
  }
}
.fv__humTarget p {
  font-size: 10px;
}

.fv__spMenu {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 25px 20px;
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  transform: translateX(-100%);
}
.fv__spMenu ul {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.fv__spMenu ul li a {
  color: #fff;
  font-size: 2.2rem;
}

.fv__spMenuClose {
  width: 30px;
  align-self: flex-end;
}
.fv__spMenuClose img {
  width: 100%;
}
.fv__spMenuClose p {
  color: #fff;
  font-size: 10px;
  text-align: center;
}

.fv__spInstaBox {
  display: flex;
}
.fv__spInstaBox p {
  margin-left: 15px;
  font-size: 2.2rem;
}

.fv__spMenuIconInsta {
  fill: #fff;
  width: 25px;
}

.fv__spBtn {
  width: 350px;
  padding: 15px 85px 15px 25px;
  color: #fff;
  border: 1px solid #fff;
}
.fv__spBtn::after {
  background-color: #fff;
}
.fv__spBtn .fv__spMenuMailIcon {
  transform: translate(9px, 3px);
}

.fv__spMenuMailIcon {
  fill: #fff;
  width: 25px;
}

.fv__spMenuAddress {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 10px;
  color: #fff;
  font-size: 1.6rem;
}
.fv__spMenuAddress dl {
  display: flex;
  gap: 15px;
}
.fv__spMenuAddress dl dt {
  width: 66px;
  display: flex;
  justify-content: space-between;
}

.news__inner {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px 32px 40px;
}

.news__box li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 50px;
  padding-bottom: 15px;
}
@media screen and (max-width: 600px) {
  .news__box li {
    row-gap: 10px;
  }
}

.news__category {
  color: #fff;
  background-color: #000000;
  padding: 8px 30px;
}
@media screen and (max-width: 600px) {
  .news__category {
    padding: 2px 15px;
  }
}

.news__date {
  color: #808080;
  font-size: 14px;
}

.news__text {
  font-size: 1.8rem;
  min-width: 350px;
}
@media screen and (max-width: 600px) {
  .news__text {
    font-size: 1.6rem;
  }
}

.about {
  background: url(/img/about-back-pc.jpg) center center/cover no-repeat;
  position: relative;
}

.about__gold {
  position: absolute;
  left: 0;
  top: -150px;
  width: 400px;
}
@media screen and (max-width: 1000px) {
  .about__gold {
    max-width: 375px;
    left: unset;
    right: 0;
  }
}

.about__inner {
  padding: 125px 32px 100px;
}
@media screen and (max-width: 1000px) {
  .about__inner {
    padding: 125px 0 120px;
  }
}

.about__title {
  text-align: center;
  color: #000000;
}

.about__contentsBox {
  display: flex;
  column-gap: 100px;
  margin-top: 96px;
}
@media screen and (max-width: 1000px) {
  .about__contentsBox {
    flex-direction: column;
  }
}

.about__contentsTitle {
  margin-top: 48px;
}
@media screen and (max-width: 1000px) {
  .about__contentsTitle {
    padding: 0 32px;
  }
}

.about__contentsText {
  margin-top: 36px;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 1000px) {
  .about__contentsText {
    padding: 0 32px;
  }
}

.about__contentsBtn {
  display: inline-block;
  margin-top: 64px;
  padding: 20px 60px;
  border: 1px solid #000000;
  color: #000000;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .about__contentsBtn {
    margin-left: 32px;
  }
}
@media screen and (max-width: 600px) {
  .about__contentsBtn {
    width: 80%;
    text-align: center;
  }
}
.about__contentsBtn::after {
  position: absolute;
  top: 50%;
  right: -30px;
  content: "";
  width: 60px;
  height: 1px;
  background-color: #000000;
}
.about__contentsBtn:hover::after {
  transform: translate(15px);
  transition: transform 0.3s;
}

.about__contentsRight {
  margin-top: 88px;
}
@media screen and (max-width: 1000px) {
  .about__contentsRight {
    text-align: right;
    margin-top: 72px;
  }
}
@media screen and (max-width: 1000px) {
  .about__contentsRight img {
    width: 80%;
  }
}

picture img {
  width: 100%;
}

.kodawari {
  position: relative;
}

.kodawari__gold {
  position: absolute;
  right: 0;
  top: -80px;
  width: 400px;
}
@media (max-width: 1000px) {
  .kodawari__gold {
    max-width: 375px;
    top: 280px;
    right: unset;
    transform: translateX(-50%);
    left: 50%;
  }
}

.kodawari__title {
  text-align: center;
  color: #fff;
}
@media (max-width: 1000px) {
  .kodawari__title {
    margin-bottom: 70px;
  }
}

.kodawari__contentsBox {
  overflow-x: hidden;
}

.kodawari__contentsItem {
  display: flex;
  align-items: flex-end;
  background: url(/img/kodawari01-back.jpg) center center/cover no-repeat;
  padding: 64px 32px;
}
@media (max-width: 1000px) {
  .kodawari__contentsItem {
    flex-direction: column;
    align-items: center;
    padding: 100px 32px;
  }
}
.kodawari__contentsItem:nth-child(even) {
  flex-direction: row-reverse;
  justify-self: flex-start;
  background: url(/img/kodawari02-back.jpg) center center/cover no-repeat;
  padding: 64px 32px;
}
@media (max-width: 1000px) {
  .kodawari__contentsItem:nth-child(even) {
    flex-direction: column;
    align-items: center;
    padding: 100px 32px;
  }
}

.kodawari__contentsItem1 {
  padding: 125px 0 0;
  display: block;
}

.kodawari__contentsItem1Box {
  display: flex;
  align-items: flex-end;
  padding: 64px 32px;
}
@media (max-width: 1000px) {
  .kodawari__contentsItem1Box {
    flex-direction: column;
    align-items: center;
    padding: 0 36px;
  }
}

.kodawari__disc {
  text-align: left;
  color: #fff;
  max-width: 650px;
}

.kodawari__disc1 {
  padding-bottom: 90px;
}

.kodawari__contents1LeftImg {
  max-width: 675px;
  transform: translateX(-100px);
}
@media (max-width: 1200px) {
  .kodawari__contents1LeftImg {
    max-width: 550px;
  }
}
@media (max-width: 1000px) {
  .kodawari__contents1LeftImg {
    width: 70%;
    transform: translateX(0px);
  }
}

.kodawari__contents1LeftImgOdd {
  transform: translateX(-100px);
}
@media (max-width: 1000px) {
  .kodawari__contents1LeftImgOdd {
    width: 70%;
    transform: translateX(0px);
  }
}

.kodawari__contents1LeftImgEven {
  transform: translateX(30px);
}
@media (max-width: 1000px) {
  .kodawari__contents1LeftImgEven {
    width: 100%;
    transform: translateX(30px);
  }
}

.kodawari__titleBox2 {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 30px;
  border-bottom: 1px solid #fff;
}

.kodawari__discTitle {
  font-size: 38px;
  padding-bottom: 30px;
  border-bottom: 1px solid #fff;
  position: relative;
}
@media (max-width: 1000px) {
  .kodawari__discTitle {
    font-size: 32px;
    margin-top: 60px;
    text-align: center;
  }
}

.kodawari__no {
  position: absolute;
  top: -100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background: url(/img/kodawari-title.png) center center/cover no-repeat;
  background-position: 0px 8px;
  width: 250px;
}
@media (max-width: 1000px) {
  .kodawari__no {
    display: none;
  }
}
.kodawari__no span {
  display: inline-block;
  transform: rotate(9.85deg);
  font-size: 5rem;
}

.kodawari__noEven {
  top: 30px;
  right: -60px;
}
@media (max-width: 1250px) {
  .kodawari__noEven {
    top: -88px;
    right: 200px;
  }
}

.kodawari__discText {
  margin-top: 36px;
  letter-spacing: 0.12em;
}

.kodawari__contentsRight {
  margin-top: 88px;
}

.kodawari__bottomImg {
  width: 100vw;
}

.kodawari__contentsItem3 {
  position: relative;
}

.kodawari__gold2 {
  max-width: 470px;
  position: absolute;
  top: -50px;
  right: 0;
}
@media (max-width: 1000px) {
  .kodawari__gold2 {
    max-width: 375px;
    top: 240px;
    right: unset;
    left: 50%;
    transform: translateX(-50%);
  }
}

.kodawari__noSp {
  display: none;
  position: static;
  color: #fff;
  margin: 0 auto 40px;
  text-align: center;
}
@media (max-width: 1000px) {
  .kodawari__noSp {
    display: block;
    width: 270px;
  }
}

.kodawari__contentsItem {
  position: relative;
}

.kodawari__goldSp {
  position: absolute;
  display: none;
}
@media (max-width: 1000px) {
  .kodawari__goldSp {
    display: block;
    max-width: 375px;
    top: 100px;
    right: unset;
    left: 50%;
    transform: translateX(-50%);
  }
}

.product {
  background: url(/img/about-back-pc.jpg) center center/cover no-repeat;
  position: relative;
  overflow-x: hidden;
}

.product__inner {
  padding: 125px 0 74px;
}

.product__title {
  text-align: center;
  color: #000000;
}

.product__contentsTop {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-top: 96px;
}
@media screen and (max-width: 1000px) {
  .product__contentsTop {
    flex-direction: column;
  }
}

.product__contentsTopImg {
  flex: 1;
  max-width: 52%;
}
@media screen and (max-width: 1000px) {
  .product__contentsTopImg {
    max-width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .product__contentsTopImg {
    width: 100%;
    object-fit: contain;
    max-width: unset;
  }
}

.product__textBox {
  width: 570px;
  padding-right: 32px;
}
@media screen and (max-width: 1000px) {
  .product__textBox {
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.product__textTitle {
  font-size: 3.5rem;
  margin-top: 48px;
}

.product__text {
  margin-top: 36px;
  letter-spacing: 0.12em;
}

.product__contentsBtn {
  margin-left: 180px;
}
@media screen and (max-width: 1530px) {
  .product__contentsBtn {
    margin-left: 140px;
  }
}
@media screen and (max-width: 1440px) {
  .product__contentsBtn {
    margin-left: 55px;
  }
}
@media screen and (max-width: 1000px) {
  .product__contentsBtn {
    margin-left: 0;
  }
}
@media screen and (max-width: 600px) {
  .product__contentsBtn {
    width: 80%;
    text-align: center;
  }
}

.product__slide {
  margin-top: 60px;
}

.swiper-wrapper {
  gap: 20px;
}

.swiper-slide {
  width: 455px !important;
  height: 100%;
}
.swiper-slide img {
  width: 100%;
}

.store__contents {
  background-color: #000000;
  padding: 54px 32px 80px;
}
.store__contents address {
  color: #fff;
  max-width: 925px;
  margin: 0 auto;
}
.store__contents address ul {
  margin-top: 72px;
  display: grid;
  column-gap: 110px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
@media screen and (max-width: 1000px) {
  .store__contents address ul {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
.store__contents address ul dl {
  font-style: normal;
  font-size: 1.8rem;
  display: flex;
  column-gap: 30px;
  border-bottom: 1px solid #fff;
  padding: 20px 24px;
}
@media screen and (max-width: 600px) {
  .store__contents address ul dl {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}
.store__contents address ul dl dt {
  width: 74px;
  display: flex;
  justify-content: space-between;
}
.store__contents address ul dl dd {
  flex: 1;
}

.store__title {
  text-align: center;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
