/* カラー============================== */
$txt-color: #080808;
$white-color: #fff;
$gray-border: #707070;
$bage-color: #f3f0d6;
$light-bage: #f0f0e6;
$box-shadow: rgba(0, 0, 0, 0.12);
$bg-gray: #f5f5f5;
$border-gray: #cccccc;
