/* フォント============================== */
$basic:'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
$english:'Playfair Display', serif;

/* フォントサイズ============================== */
html {
	font-size: 62.5%;
	/*   @media screen and (max-width:$tab){
    font-size: 50%;
  } */
}
