//fv.scss
@use '../../setting/setting' as f;



.aboutFv__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 115px;
    background-color: f.$white-color;
    padding: 0 40px;
}

.aboutFv__headerLogoBox {
    display: flex;
    column-gap: 25px;
    align-items: center;
}

.aboutFv__headerLogo {
    width: 80px;
}

.aboutFv__logoTitle {
    color: f.$txt-color;

    @media screen and (max-width: 600px) {
        display: none;
    }
}

.aboutFv__nav {
    padding-top: 0;

    .fv__navItem {
        a {
            color: f.$txt-color;
        }
    }

    .aboutFv__spMenuIconInsta {
        fill: f.$txt-color;
        width: 30px;
        transform: translateY(4px);
    }
}

.aboutFv__headerWrapper {
    margin-right: 0;
}


.aboutFv__main {
    position: relative;

    @media screen and (max-width: 600px) {}
}


.aboutFv__mainDeco {
    background-color: f.$white-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-282px, -87px);
}

.aboutFv__mainLeftTopW {
    width: 40px;
    height: 1px;
    transform: translate(-282px, -87px);

    @media screen and (max-width: 600px) {
        transform: translate(-132px, -35.65px);
        width: 20px;
        height: 1px;
    }
}

.aboutFv__mainLeftTopH {
    width: 1px;
    height: 40px;
    transform: translate(-282px, -87px);

    @media screen and (max-width: 600px) {
        transform: translate(-132px, -35.65px);
        width: 1px;
        height: 20px;
    }
}

.aboutFv__mainRightTopW {
    width: 40px;
    height: 1px;
    transform: translate(242px, 87px);

    @media screen and (max-width: 600px) {
        transform: translate(112px, 35.65px);
        width: 20px;
        height: 1px;
    }
}

.aboutFv__mainRightTopH {
    width: 1px;
    height: 40px;
    transform: translate(282px, 47px);

    @media screen and (max-width: 600px) {
        transform: translate(132px, 15.65px);
        width: 1px;
        height: 20px;
    }
}

.aboutFv__mainLeftBottomW {
    width: 40px;
    height: 1px;
    transform: translate(-282px, 87px);

    @media screen and (max-width: 600px) {
        transform: translate(-132px, 35.65px);
        width: 20px;
        height: 1px;
    }
}

.aboutFv__mainLeftBottomH {
    width: 1px;
    height: 40px;
    transform: translate(-282px, 47px);

    @media screen and (max-width: 600px) {
        transform: translate(-132px, 17.825px);
        width: 1px;
        height: 20px;
    }
}

.aboutFv__mainRightBottomW {
    width: 40px;
    height: 1px;
    transform: translate(242px, -87px);

    @media screen and (max-width: 600px) {
        transform: translate(112px, -35.65px);
        width: 20px;
        height: 1px;
    }
}

.aboutFv__mainRightBottomH {
    width: 1px;
    height: 40px;
    transform: translate(282px, -87px);

    @media screen and (max-width: 600px) {
        transform: translate(132px, -35.65px);
        width: 1px;
        height: 20px;
    }
}



.aboutFv__mainLeftBottom {
    bottom: 0;
    left: 0;
}

.aboutFv__mainRightBottom {
    bottom: 0;
    right: 0;
}

.aboutFv__h1 {
    font-size: 4.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: normal;

    @media screen and (max-width: 600px) {
        font-size: 2.4rem;
    }
}

.aboutFv__goldTop {
    top: 0;
    z-index: -1;
}

.aboutFv__contentsLeft {
    max-width: 522px;
}

.history__contentsRight {
    margin-top: 0;
}

.subHeader{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 115px;
	background-color: f.$white-color;
	padding: 0 40px;
	@media screen and (max-width: 600px) {
		padding: 0 20px;
			}
}
.subHeader__headerLogoBox{
	display: flex;
	column-gap: 25px;
	align-items: center;
}

.subHeader__headerLogo{
	width: 50px;
}

.subHeader__logoTitle{
	color: f.$txt-color;
	@media screen and (max-width: 600px) {
display: none;
	}
}

.subHeader__nav{
padding-top: 0;
	.fv__navItem{
a{
	color: f.$txt-color;
    .fv__navItemText::after{
        background: #000000;/*下線の色*/
    }
            }
}
	}

	.subHeader__spMenuIconInsta{
		fill: f.$txt-color;
		width: 30px;
		transform: translateY(4px);
	}


.subHeader__headerWrapper{
	margin-right: 0;
	display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 35px;

	ul{
		display: flex;
		gap: 35px;
	}
}


.subHeader__main{
	// height: 585px;
	position: relative;
	@media screen and (max-width: 600px) {
		// height: 150px;
	}
}


.subHeader__mainDeco{
background-color: f.$white-color;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-282px, -87px);
}

.subHeader__mainLeftTopW{
	width: 40px;
height: 1px;
	transform: translate(-282px, -87px);
	@media screen and (max-width: 600px) {
		transform: translate(-132px, -35.65px);
		width: 20px;
		height: 1px;
		}
}
.subHeader__mainLeftTopH{
	width: 1px;
height: 40px;
	transform: translate(-282px, -87px);
	@media screen and (max-width: 600px) {
		transform: translate(-132px, -35.65px);
		width: 1px;
		height: 20px;
		}
}
.subHeader__mainRightTopW{
	width: 40px;
height: 1px;
	transform: translate(242px, 87px);
	@media screen and (max-width: 600px) {
		transform: translate(112px, 35.65px);
		width: 20px;
		height: 1px;
		}
}
.subHeader__mainRightTopH{
	width: 1px;
height: 40px;
	transform: translate(282px, 47px);
	@media screen and (max-width: 600px) {
		transform: translate(132px, 15.65px);
		width: 1px;
		height: 20px;
		}
}
.subHeader__mainLeftBottomW{
	width: 40px;
height: 1px;
	transform: translate(-282px, 87px);
	@media screen and (max-width: 600px) {
		transform: translate(-132px, 35.65px);
		width: 20px;
		height: 1px;
		}
}
.subHeader__mainLeftBottomH{
	width: 1px;
height: 40px;
	transform: translate(-282px, 47px);
	@media screen and (max-width: 600px) {
		transform: translate(-132px, 17.825px);
		width: 1px;
		height: 20px;
		}
}
.subHeader__mainRightBottomW{
	width: 40px;
height: 1px;
	transform: translate(242px, -87px);
	@media screen and (max-width: 600px) {
		transform: translate(112px, -35.65px);
		width: 20px;
		height: 1px;
		}
}
.subHeader__mainRightBottomH{
	width: 1px;
height: 40px;
	transform: translate(282px, -87px);
	@media screen and (max-width: 600px) {
		transform: translate(132px, -35.65px);
		width: 1px;
		height: 20px;
		}
}



.subHeader__mainLeftBottom{
	bottom: 0;
	left: 0;
}
.subHeader__mainRightBottom{
	bottom: 0;
	right: 0;
}

.subHeader__h1{
	font-size: 4.6rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
			text-align: center;


	@media screen and (max-width: 600px) {
	font-size: 2.4rem;
	}
}

.subHeader__goldTop{
	top: 0;
	z-index: -1;
}

.subHeader__contentsLeft{
	max-width: 522px;
}

.history__contentsRight{
	margin-top: 0;
}



.subHeader__nav {
    padding-top: 0;
}

.subHeader__headerWrapper {
    margin-right: 0;

}
