//news.scss
@use "../../global/import"as f;

.news__inner {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 32px 40px;
}

.news__box {
    li {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 50px;
        padding-bottom: 15px;

        @media screen and (max-width: 600px) {
            row-gap: 10px;
        }
    }

}

.news__category {
    color: f.$white-color;
    background-color: f.$txt-color;
    padding: 8px 30px;

    @media screen and (max-width: 600px) {
        padding: 2px 15px;
    }
}

.news__date {
    color: f.$txt-gray;
    font-size: 14px;
}

.news__text {
    font-size: 1.8rem;
    min-width: 350px;

    @media screen and (max-width: 600px) {
        font-size: 1.6rem;

    }
}
