//news.scss
@use "../../global/import" as f;

.news__inner{
    max-width: 800px;
    margin: 0 auto;
padding: 30px 32px 40px;
}

.news__box{
    li{
        display: flex;
        align-items: center;
        gap: 50px;
        padding-bottom: 15px;
    }

}

.news__category{
    color: f.$white-color;
    background-color: f.$txt-color;
    padding: 8px 30px;
}

.news__date{
    color: f.$txt-gray;
    font-size: 14px;
}
