//store.scss
@use "../../global/import" as f;


.store__contents{
background-color: f.$txt-color;
padding: 54px 32px 80px;
address{
    color: f.$white-color;
    max-width: 925px;
    margin: 0 auto;
    ul{
        margin-top: 72px;
        display: grid;
        column-gap: 110px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        @media screen and (max-width: 1000px) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
                                 }
        dl{
            font-style: normal;
            font-size: 1.8rem;
            display: flex;
            column-gap: 30px;
            border-bottom: 1px solid f.$white-color;
            padding: 20px 24px;
            @media screen and (max-width: 600px) {
               flex-direction: column;
               align-items: center;
               row-gap: 20px;
                                     }
            dt{
                width: 74px;
              display: flex;
              justify-content: space-between;
            }
            dd{
                flex: 1;
            }
        }
    }
}
}

.store__title{

    text-align: center;
    color: f.$white-color;
}
