//fv.scss
@use '../../setting/setting' as f;

.subKodawari {
    position: relative;
    padding: 0 32px;

    @media (max-width: 1100px) {
        padding: 0;

    }
}

.subKodawari__inner {
    padding: 115px 0 0;

    @media screen and (max-width: 600px) {
        padding: 54px 0px 80px;
        position: relative;
        overflow-y: hidden;
    }
}



.subKodawari__gold {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 410px;
    z-index: 1;
    img{
        width: 100%;
    }
}

.subKodawari__goldSp {
    position: absolute;
    right: 0;
    top: -200px;
    max-width: 410px;
    z-index: 1;
    img{
        width: 100%;
    }
}



.subKodawari__title {
    text-align: center;
    color: f.$txt-color;
    margin-bottom: 100px;

    @media (max-width: 1000px) {
        margin-bottom: 120px;

    }
}

.subKodawari__contentsBox {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    row-gap: 60px;

    @media (max-width: 1100px) {
        overflow-x: unset;
    }
}

.subKodawari__contentsItem {
    display: flex;
    column-gap: 45px;
    align-items: flex-end;
    padding-bottom: 230px;
    position: relative;

    @media (max-width: 1100px) {
        flex-direction: column;
        align-items: center;
        position: relative;
        padding-bottom: 0;
    }


    &:nth-child(even) {
        flex-direction: row-reverse;
        justify-self: flex-start;

        @media (max-width: 1100px) {
            flex-direction: column;
            align-items: center;

        }
    }
}

.subKodawari__backImg {
    display: none;
    position: absolute;
    width: 70%;
    transform: translate(50px, -50px);

    @media (max-width: 1100px) {
        display: block;
    }

    @media (max-width: 600px) {
        display: block;
        width: 100%;
        transform: translate(0px, -50px);
    }

}


.subKodawari__contentsItem1Box {
    display: flex;
    padding: 64px 32px;

    @media (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
        padding: 0 36px;
    }


}


.subKodawari__disc {
    text-align: left;
    color: f.$txt-color;
    max-width: 650px;
    padding: 125px 72px;

    @media (max-width: 1000px) {
        padding: 40px 72px;
    }

    @media (max-width: 600px) {
        padding: 40px 20px 0;
    }
}

.subKodawari__disc1 {
    padding-bottom: 90px;
    background: url(../img/Kodawari/kodawari01-back.jpg) center center / cover no-repeat;

    @media (max-width: 1100px) {
        background: none;
    }

}

.subKodawari__disc2 {
    padding-bottom: 90px;
    background: url(../img/Kodawari/kodawari02-back.jpg) center center / cover no-repeat;

    @media (max-width: 1100px) {
        background: none;
    }

}

.subKodawari__disc3 {
    background: url(../img/Kodawari/kodawari03-back.jpg) center center / cover no-repeat;

    @media (max-width: 1100px) {
        background: none;
    }

}

.subKodawari__img {
    max-width: 450px;
    transform: translateY(84px);

    @media (max-width: 1000px) {
        width: 60%;
        transform: translateX(-0px);
        margin-top: 80px;
    }
}

.subKodawari__imgOdd {
    @media (max-width: 1000px) {
        width: 70%;
        transform: translateX(-30px);
        margin-top: 80px;
    }
}

.subKodawari__imgEven {
    @media (max-width: 1000px) {
        width: 70%;
        transform: translateX(40px);
    }
}

.subKodawari__titleBox2 {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 30px;
    border-bottom: 1px solid f.$txt-color;
}



.subKodawari__discTitle {
    font-size: 3.8rem;
    padding-bottom: 30px;
    border-bottom: 1px solid f.$txt-color;
    position: relative;
    color: f.$txt-color;

    @media (max-width: 1000px) {
        font-size: 3.2rem;
    }

    @media (max-width: 600px) {
        font-size: 1.8rem;
    }
}

.subKodawari__no {
    position: absolute;
    top: 470px;
    left: -210px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: f.$white-color;
    font-size: 24px;
    width: 315px;
    height: 157px;
    background: url(../img/Kodawari/kodawari-title.png) center center / cover no-repeat;
    padding-right: 75px;
    padding-top: 24px;

    @media (max-width: 1100px) {
        display: none;
    }

    span {
        display: inline-block;
        font-style: italic;
        font-size: 5rem;
    }
}

.subKodawari__noEven {
    top: 470px;
    left: 380px;
}

.subKodawari__discText {
    margin-top: 36px;
    letter-spacing: 0.12em;

    @media (max-width: 600px) {
        margin-top: 20px;
    }
}

.subKodawari__contentsRight {
    margin-top: 88px;
}

.subKodawari__bottomImg {
    width: 100vw;
}

.subKodawari__contentsItem3 {
    position: relative;
}

.subKodawari__gold2 {
    max-width: 470px;
    position: absolute;
    top: -50px;
    right: 0;

    @media (max-width: 1000px) {
        max-width: 375px;
        top: 240px;
        right: unset;
        left: 50%;
        transform: translateX(-50%);

    }
}

.subKodawari__noSp {
    display: none;
    position: static;
    color: f.$white-color;
    margin: 0 auto 40px;
    text-align: center;
    font-size: 1.4rem;
    background: url(../img/Kodawari/kodawari-title.png) center center / cover no-repeat;

    @media (max-width: 1100px) {
        display: block;
        width: 200px;
        height: 200px;
        background-size: contain;
        padding-right: 47px;
        padding-top: 78px;
        position: absolute;
        z-index: 3;
        left: 344px;
        top: -210px;
        font-size: 1.6rem;
    }

    @media (max-width: 700px) {
        left: 310px;
        font-size: 1.6rem;
        width: 150px;
    }

    @media (max-width: 600px) {
        width: 150px;
        height: 150px;
        padding-top: 59px;
        left: auto;
        right: 2%;
        top: -130px;

    }
    @media (max-width: 530px) {
  left: 270px;
    }

    @media (max-width: 490px) {
  left: 190px;
    }

    @media (max-width: 400px) {

        right: -4px;
        top: -130px;

    }

    span {
        font-size: 2.2rem;
    }
}

.subKodawari__noEven {
    @media (max-width: 1100px) {
        left: -40px;
        font-size: 1.6rem;
    }

    @media (max-width: 600px) {
        left: -260px;

    }

    @media (max-width: 450px) {
        left: -150px;
    }
}

.subKodawari__contentsItem {
    position: relative;
}

.subKodawari__goldTop {
    position: absolute;
    max-width: 375px;
        top: 0;
        right: unset;
        right: 0;
        transform: translateX(-50%);
    @media (max-width: 600px) {
        display: none;


    }
}

.subKodawari__goldTopSp {
    position: absolute;
    display: none;

    @media (max-width: 600px) {
        display: block;
        max-width: 375px;
        top: -180px;
        right: unset;
        right: -180px;
        transform: translateX(-50%);
        z-index: 1;

    }
}
.subKodawari__goldSp2{
    position: absolute;
    display: none;

    @media (max-width: 600px) {
        display: block;
        max-width: 375px;
        bottom: 0;
        right: unset;
        left: 50%;
        transform: translateX(-50%);

    }
}

.subHeader__headerWrapper {
    margin-right: 0;

}
